//variables
@import "lib/variables";

//mixins
@import "mixin/mixin";

//components
@import "components/btns";
@import "components/elementos";

//base
@import "base/body";
@import "base/header";
@import "base/main";
@import "base/sides";
@import "base/back";