.photos{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .imgs{
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            height: 100%;
            width: auto;
            outline: 5px solid $back-orange;
            outline-offset: 0.9rem;
        }
    }
}