.reseñas{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    h2{
        font-size: 2.5rem;
    }
    .all{
        width: 90%;
        height: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .rese{
            width: 29%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            img{
                width: 50%;
                height: auto;
                border-radius: 50%;
                border: 2px solid $back-red;
            }
            h3{
                text-align: center;
            }
            p{
                font-style: italic;
                font-weight: bolder;
            }
            span{
                color: $color-gray;
            }
        }
    }
}