.imagenes{
    width: 80%;
    height: 35vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -12% auto;
    position: relative;
    img{
        height: 100%;
        width: auto;
        border: 4px solid $back-orange;
        border-radius: 2rem;
    }
}