/*variables*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
/*components*/
.price {
  color: #540000;
  font-size: 2rem;
  font-weight: bold;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #540000;
  color: #fff;
  border: 2px solid #EE2E2B;
  border-radius: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.btn:hover {
  background: #fff;
  color: #540000;
}
.btn:active {
  transform: scale(0.99);
}

/*mixin*/
/*base/elements*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: "Rubik", sans-serif;
}

header {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #EE2E2B;
}
header .nav1,
header .nav2 {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav1 {
  width: 100%;
  height: 25%;
  background: #540000;
}
header .nav1 nav {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
header .nav1 nav .text,
header .nav1 nav .redes {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .nav1 nav .text a,
header .nav1 nav .redes a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4rem;
  font-weight: bold;
}
header .nav1 nav .text a:hover,
header .nav1 nav .redes a:hover {
  text-decoration: underline;
  color: #EE2E2B;
}
header .nav1 nav .redes i {
  font-size: 2rem;
}
header .nav1 nav .redes i:hover {
  color: #EE2E2B;
}
header .nav2 {
  height: 75%;
}
header .nav2 nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav2 nav a {
  display: inline-block;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .nav2 nav a img {
  height: 80%;
  width: auto;
}
header .nav2 nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav2 nav ul li {
  margin-right: 1.5rem;
}
header .nav2 nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
}
header .nav2 nav ul li a:hover {
  text-decoration: underline;
}

main {
  width: 100%;
  height: 70vh;
  background: url("../../../img/fondo.png"), rgba(0, 0, 0, 0.5);
  background-position: center;
  background-size: cover;
  border: 5px solid #540000;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
}
main .text {
  width: 80%;
  height: 50%;
  margin: 6% auto 0 auto;
  color: #fff;
}
main .text h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
}
main .text p {
  font-size: 1.2rem;
  text-align: center;
  word-spacing: 5px;
}
main .text .btn {
  font-size: 1.5rem;
  margin-left: 37%;
}

.imagenes {
  width: 80%;
  height: 35vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -12% auto;
  position: relative;
}
.imagenes img {
  height: 100%;
  width: auto;
  border: 4px solid #EE2E2B;
  border-radius: 2rem;
}

/*# sourceMappingURL=styles.css.map */
