@charset "UTF-8";
/*variables*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
/*components*/
h2 {
  font-size: 2rem;
  color: #540000;
  font-weight: bold;
}

h3 {
  color: #EE2E2B;
  font-weight: bolder;
  font-size: 1.2rem;
}

.price {
  font-size: 1.3rem;
  color: #540000;
  font-weight: bolder;
  margin-left: 1rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #540000;
  color: #fff;
  border: 2px solid #EE2E2B;
  border-radius: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.btn:hover {
  background: #fff;
  color: #540000;
}
.btn:active {
  transform: scale(0.99);
}

/*mixin*/
/*base/elements*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: "Rubik", sans-serif;
}

header {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #EE2E2B;
}
header .nav1,
header .nav2 {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav1 {
  width: 100%;
  height: 25%;
  background: #540000;
}
header .nav1 nav {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
header .nav1 nav .text,
header .nav1 nav .redes {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .nav1 nav .text a,
header .nav1 nav .redes a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4rem;
  font-weight: bold;
}
header .nav1 nav .text a:hover,
header .nav1 nav .redes a:hover {
  text-decoration: underline;
  color: #EE2E2B;
}
header .nav1 nav .redes i {
  font-size: 2rem;
}
header .nav1 nav .redes i:hover {
  color: #EE2E2B;
}
header .nav2 {
  height: 75%;
}
header .nav2 nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav2 nav a {
  display: inline-block;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .nav2 nav a img {
  height: 80%;
  width: auto;
}
header .nav2 nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav2 nav ul li {
  margin-right: 1.5rem;
}
header .nav2 nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
}
header .nav2 nav ul li a:hover {
  text-decoration: underline;
}

main {
  width: 100%;
  height: 70vh;
  background: url("../../../img/fondo.png"), rgba(0, 0, 0, 0.5);
  background-position: center;
  background-size: cover;
  border: 5px solid #540000;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
}
main .text {
  width: 80%;
  height: 50%;
  margin: 6% auto 0 auto;
  color: #fff;
}
main .text h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
}
main .text p {
  font-size: 1.2rem;
  text-align: center;
  word-spacing: 5px;
}
main .text .btn {
  font-size: 1.5rem;
  margin-left: 37%;
}

.imagenes {
  width: 80%;
  height: 35vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -12% auto;
  position: relative;
}
.imagenes img {
  height: 100%;
  width: auto;
  border: 4px solid #EE2E2B;
  border-radius: 2rem;
}

.cards {
  width: 100%;
  height: 190vh;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cards .all {
  width: 82%;
  height: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.cards .all .card {
  width: calc(29% + 2rem + 4px);
  height: calc(45% + 2rem + 4px);
  border: 4px dashed #540000;
  padding: 1rem;
  border-radius: 1rem;
}
.cards .all .card img {
  width: 100%;
  height: auto;
  border: 4px solid #540000;
  border-radius: 2.5rem;
  opacity: 0.8;
  cursor: pointer;
}
.cards .all .card img:hover {
  opacity: 1;
}
.cards .all .card .text .title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cards .all .card .text p {
  text-align: justify;
  line-height: 2;
}
.cards .all .card .text .icon {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cards .all .card .text .icon .i i {
  cursor: pointer;
  margin: 0 1rem;
}
.cards .all .card .text .icon .i i.r {
  color: red;
  font-size: 1.8rem;
}
.cards .all .card .text .icon .i i.g {
  color: green;
  font-size: 1.8rem;
}

.photos {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #EE2E2B;
  border: 9px solid #540000;
  margin-top: 3rem;
}
.photos h2 {
  font-size: 2.5rem;
}
.photos .imgs {
  width: 80%;
  height: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photos .imgs img {
  height: 70%;
  width: auto;
  outline: 7px solid #540000;
  outline-offset: 0.9rem;
}

.reseñas {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.reseñas h2 {
  font-size: 2.5rem;
}
.reseñas .all {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reseñas .all .rese {
  width: 29%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.reseñas .all .rese img {
  width: 50%;
  height: auto;
  border-radius: 50%;
  border: 2px solid #540000;
}
.reseñas .all .rese h3 {
  text-align: center;
}
.reseñas .all .rese p {
  font-style: italic;
  font-weight: bolder;
}
.reseñas .all .rese span {
  color: #717672;
}

footer {
  margin-top: 3rem;
  width: 100%;
  height: 40vh;
  background: #540000;
  color: #fff;
  display: flex;
  justify-content: center;
}
footer .icon,
footer .text {
  width: 40%;
  height: 100%;
}
footer .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .icon .iconos,
footer .icon .textos {
  width: 100%;
  height: 50%;
}
footer .icon .iconos i {
  font-size: 3rem;
  color: #fff;
  margin: 1rem 1rem 0 1rem;
}
footer .icon .iconos i:hover {
  color: #EE2E2B;
}
footer .icon .textos {
  font-size: 1.5rem;
  margin-top: 2rem;
}
footer .icon .textos a {
  text-decoration: none;
  color: inherit;
  margin: 0 10px;
}
footer .icon .textos a:hover {
  text-decoration: underline;
}
footer .icon span {
  margin-left: -27%;
}
footer .text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
footer .text .card {
  width: 49%;
  height: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*# sourceMappingURL=styles.css.map */
