header{
    width: 100%;
    height: 15vh;
    @include centrar();
    background: $back-orange;
    nav{
        @include cien();
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            height: 51%;
            width: 51%;
        }
        ul{
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            li{
                a{
                    text-decoration: none;
                    color: $color-white;
                    font-size: 1.4rem;
                    margin-right: 2rem;
                    text-transform: uppercase;
                    font-weight: bolder;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}