.membre{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .cards{
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        article{
            width: 29%;
            cursor: pointer;
            height: 95%;
            background: linear-gradient(45deg,$back-black,#2e2e2e);
            color: $color-grayblue;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border-radius: 3rem;
            box-shadow: 13px 13px 13px $back-gray;
            h3{
                color: $color-white;
                text-align: center;
                font-size: 2.1rem;
            }
            .price{
                color: $color-orange;
            }
            .lista{
                width: 100%;
                height: 90%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                span{
                    margin-left: 20%;
                    margin-right: 20%;
                    font-size: 1.5rem;
                    i{
                        font-size: 2rem;
                        &.g{
                            color: greenyellow;
                        }
                        &.r{
                            color: crimson;
                        }
                    }
                }
            }
            &.premium{
                background:linear-gradient(45deg,#540000,#970000);
                width: 32%;
                height: 100%;
            }
        }
    }
}