@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #540000;
  color: #fff;
  border: 2px solid #EE2E2B;
  border-radius: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.btn:hover {
  background: #fff;
  color: #540000;
}
.btn:active {
  transform: scale(0.99);
}

h2 {
  font-size: 2rem;
  color: #540000;
  font-weight: bold;
}

h3 {
  color: #EE2E2B;
  font-weight: bolder;
  font-size: 1.2rem;
}

.price {
  font-size: 1.3rem;
  color: #540000;
  font-weight: bolder;
  margin-left: 1rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: "Rubik", sans-serif;
}

header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EE2E2B;
}
header nav {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav img {
  height: 51%;
  width: 51%;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  margin-right: 2rem;
  text-transform: uppercase;
  font-weight: bolder;
}
header nav ul li a:hover {
  text-decoration: underline;
}

main {
  width: 100%;
  height: 50vh;
  background: url("../../../img/image1.jpg");
  background-position: center;
  background-size: cover;
  border: 5px solid #EE2E2B;
}
main span {
  margin-top: 17%;
  margin-left: 28%;
}

.sides {
  width: 100%;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sides .all {
  height: 100%;
  width: 80%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.sides .all .leftside,
.sides .all .rightside {
  width: 49%;
  height: 100%;
}
.sides .all .leftside .img {
  width: 100%;
}
.sides .all .leftside .img img {
  width: 100%;
  height: auto;
  margin-top: 0.5rem;
  border: 2px solid #EE2E2B;
  cursor: pointer;
  opacity: 0.9;
}
.sides .all .leftside .img img:hover {
  opacity: 1;
}
.sides .all .leftside .i {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sides .all .leftside .i span {
  display: inline-block;
  padding: 0.5rem 0.9rem;
  color: #fff;
  background: #540000;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  cursor: pointer;
  border: 2px solid #EE2E2B;
}
.sides .all .leftside .i span.actual {
  background: #fff;
  color: #540000;
}
.sides .all .leftside .i i {
  font-size: 2rem;
  color: #540000;
  cursor: pointer;
}
.sides .all .rightside .card {
  margin-top: 2.8rem;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sides .all .rightside .card img {
  cursor: pointer;
  height: 100%;
  width: auto;
  border: 2px solid #540000;
  border-radius: 1rem;
  opacity: 0.9;
}
.sides .all .rightside .card img:hover {
  opacity: 1;
}
.sides .all .rightside .card .text {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sides .all .rightside .card .text .i {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.sides .all .rightside .card .text .i .g {
  cursor: pointer;
  color: green;
}
.sides .all .rightside .card .text .i .r {
  color: red;
  cursor: pointer;
  margin-left: 1rem;
}

.back {
  width: 100%;
  height: 50vh;
  display: flex;
  margin-top: 6rem;
}
.back .text,
.back .image {
  width: 50%;
  height: 100%;
}
.back .text {
  background: #540000;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.back .text h3,
.back .text p,
.back .text span {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
}
.back .text h3 {
  font-size: 2rem;
}
.back .text p {
  text-align: justify;
  line-height: 2;
  font-weight: bold;
}
.back .text p .price {
  color: #A8BDD8;
  margin-left: 0;
}
.back .text span.btn {
  text-align: center;
}
.back .image {
  background: url("../../../img/bigone.webp");
  background-position: center;
  background-size: cover;
}

/*# sourceMappingURL=styles.css.map */
