/*variables*/
@import "lib/variables";

/*components*/
@import "components/clases";
@import "components/btn";

/*mixin*/
@import "mixin/mixin";

/*base/elements*/
@import "base/body";
@import "base/header";
@import "base/main";
@import "base/imagenes.scss";
@import "base/cards";
@import "base/photos";